.hero {
  height: 100%;

  @include padding;

  .welcome {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: flex-end;

    h1 {
      @include display;
      line-height: 30px;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    h2 {
      @include headline;
      margin-top: 0;
      text-transform: uppercase;
    }
  }
}