.hero {
  background: linear-gradient(
    rgba(255, 255, 255, 0) 0%,
    rgba(250, 250, 250, .83) 70%,
    rgba(250, 250, 250, 1) 100%
  );
  display: flex;
  flex: 1;
  max-width: 1520px;

  @include padding;

  .welcome {
    display: flex;
    width: 100%;
    
    >div:first-child {
      display: flex;
      flex-direction: column;
      height: auto;
      justify-content: flex-end;
    }

    h1 {
      @include display;
      line-height: 30px;
      margin-bottom: 10px;
      text-transform: uppercase;
    }

    h2 {
      @include headline;
      margin-top: 0;
      text-transform: uppercase;
    }

    >div:last-child {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      position: relative;
      padding: 120px 30px;
    }

    .behind {
      background-color: rgba($color: #D9D9D9, $alpha: 1);
      position: absolute;
      display: none !important;
      right: 0vh;
      top: 16vh;
      z-index: -1;
      width: 384px;
      height: 288px;

      @include for-larger-devices {
        width: 434px;
        height: 338px;
      }
    }

    .infront {
      width: 400px;
      height: 300px;
      transition: all .5s ease-in-out;

      @include for-larger-devices {
        width: 450px;
        height: 350px;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.05);
      }
    }

    .infront, .behind {
      display: none;

      @include for-desktops {
        display: block;
        border-radius: 10px;
        overflow: hidden;
      }

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}