main {
  flex: 1;
}

main#index {
  background-color: var(--background-color-primary);
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 80px 20px;

  @include for-desktops {
    padding: 80px;
    gap: 202px;
  }

  @include for-larger-devices {
    padding: 120px 180px;
  }

  .project {
    display: flex;
    flex-direction: column;
    gap: 51px;
    padding: 23px;

    @include for-tablets {
      align-items: center;
    }

    h3 {
      @include display;
      margin: 0;
      text-align: center;
    }

    .project-frame {
      aspect-ratio: 1.39;
      object-fit: contain;
      width: 100%;

      @include for-tablets {
        width: 70%;
      }

      @include for-desktops {
        width: 65%;
      }

      @include for-larger-devices {
        width: 50%;
      }

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

main#about .wrapper {
  @include padding;

  .profile-frame {
    aspect-ratio: 1;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    
    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  p {
    @include headline;
  }

  @include for-tablets {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
    .profile-frame {
      aspect-ratio: 1;
      flex-shrink: 0;
      width: 25%;
    }
    
    p {
      @include body;
    }
  }
  
  @include for-desktops {
    flex-direction: row;
    align-items: center;
    gap: 20px;

    .profile-frame {
      width: 300px;
    }

    p {
      font-size: 24px;
      line-height: 41px;
    }
  }
}
