main {
  flex: 1;
}

main#index {
  background-color: var(--background-color-primary);
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 80px 20px;

  .project {
    display: flex;
    flex-direction: column;
    gap: 51px;
    padding: 23px;

    h3 {
      @include display;
      margin: 0;
      text-align: center;
    }

    .project-frame {
      aspect-ratio: 1.39;
      object-fit: contain;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
      }
    }
  }
}

main#about {
  @include padding;

  .profile-frame {
    aspect-ratio: 1;
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    
    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  p {
    @include headline;
  }

  @include for-tablets {
    align-items: center;
    display: flex;
    gap: 20px;

    .profile-frame {
      aspect-ratio: 1;
      flex-shrink: 0;
      width: 150px;
    }

    p {
      @include body;
    }
  }
}
