nav {
  color: var(--secondary-text-color);
  display: flex;
  justify-content: space-between;
  max-width: 1560px;
  
  @include padding;
  @include label; 
  
  div:last-child {
    display: none;

    @include for-desktops {
      display: block;
    }
  }

  &.about {
    .links a {
      &[href="pages/about.html"] {
        display: none;

        @include for-desktops {
          display: inline-block;
        }
      }

      &[href="../index.html"] {
        display: inline-block;
      }
    }      
  }
  
  .links {
    display: flex;
    gap: 45px;

    a {
      color: var(--secondary-text-color);
      display: none;
      text-decoration: none;

      @include for-desktops {
        display: inline-block;
      }

      &[href="pages/about.html"] {
        display: inline-block;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }

  .title {
    font-weight: 700;
  }
}
