:root {
  --background-color-primary: #fafafa;
  --background-color-secondary: #212529;
  --error-message-color: #f00;
  --main-text-color: #fff;
  --secondary-text-color: #212529;
  --secondary-color: #e8fb92; }

nav {
  color: var(--secondary-text-color);
  display: flex;
  justify-content: space-between;
  max-width: 1560px;
  padding: 25px 20px;
  font-family: "Inter", sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 16px; }
  @media only screen and (min-width: 600px) {
    nav {
      padding: 25px 60px; } }
  @media only screen and (min-width: 992px) {
    nav {
      padding: 25px 120px; } }
  @media only screen and (min-width: 1400px) {
    nav {
      padding: 35px 180px; } }
  @media only screen and (min-width: 600px) {
    nav {
      font-size: 12px;
      line-height: 16px; } }
  @media only screen and (min-width: 992px) {
    nav {
      font-size: 14px;
      line-height: 20px; } }
  nav div:last-child {
    display: none; }
    @media only screen and (min-width: 992px) {
      nav div:last-child {
        display: block; } }
  nav.about .links a[href="pages/about.html"] {
    display: none; }
    @media only screen and (min-width: 992px) {
      nav.about .links a[href="pages/about.html"] {
        display: inline-block; } }
  nav.about .links a[href="../index.html"] {
    display: inline-block; }
  nav .links {
    display: flex;
    gap: 45px; }
    nav .links a {
      color: var(--secondary-text-color);
      display: none;
      text-decoration: none; }
      @media only screen and (min-width: 992px) {
        nav .links a {
          display: inline-block; } }
      nav .links a[href="pages/about.html"] {
        display: inline-block; }
      nav .links a:hover {
        cursor: pointer; }
  nav .title {
    font-weight: 700; }

.hero {
  background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(250, 250, 250, 0.83) 70%, #fafafa 100%);
  display: flex;
  flex: 1;
  max-width: 1520px;
  padding: 25px 20px; }
  @media only screen and (min-width: 600px) {
    .hero {
      padding: 25px 60px; } }
  @media only screen and (min-width: 992px) {
    .hero {
      padding: 25px 120px; } }
  @media only screen and (min-width: 1400px) {
    .hero {
      padding: 35px 180px; } }
  .hero .welcome {
    display: flex;
    width: 100%; }
    .hero .welcome > div:first-child {
      display: flex;
      flex-direction: column;
      height: auto;
      justify-content: flex-end; }
    .hero .welcome h1 {
      font-family: "Inter", sans-serif;
      font-size: 26px;
      line-height: 44px;
      line-height: 30px;
      margin-bottom: 10px;
      text-transform: uppercase; }
      @media only screen and (min-width: 600px) {
        .hero .welcome h1 {
          font-size: 35px;
          line-height: 52px; } }
      @media only screen and (min-width: 992px) {
        .hero .welcome h1 {
          font-size: 47px;
          line-height: 64px; } }
    .hero .welcome h2 {
      font-family: "Mulish", sans-serif;
      font-size: 18px;
      line-height: 26px;
      margin-top: 0;
      text-transform: uppercase; }
      @media only screen and (min-width: 600px) {
        .hero .welcome h2 {
          font-size: 22px;
          line-height: 30px; } }
      @media only screen and (min-width: 992px) {
        .hero .welcome h2 {
          font-size: 26px;
          line-height: 34px; } }
    .hero .welcome > div:last-child {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      position: relative;
      padding: 120px 30px; }
    .hero .welcome .behind {
      background-color: #d9d9d9;
      position: absolute;
      display: none !important;
      right: 0vh;
      top: 16vh;
      z-index: -1;
      width: 384px;
      height: 288px; }
      @media only screen and (min-width: 1400px) {
        .hero .welcome .behind {
          width: 434px;
          height: 338px; } }
    .hero .welcome .infront {
      width: 400px;
      height: 300px;
      transition: all .5s ease-in-out; }
      @media only screen and (min-width: 1400px) {
        .hero .welcome .infront {
          width: 450px;
          height: 350px; } }
      .hero .welcome .infront:hover {
        cursor: pointer;
        transform: scale(1.05); }
    .hero .welcome .infront, .hero .welcome .behind {
      display: none; }
      @media only screen and (min-width: 992px) {
        .hero .welcome .infront, .hero .welcome .behind {
          display: block;
          border-radius: 10px;
          overflow: hidden; } }
      .hero .welcome .infront img, .hero .welcome .behind img {
        width: 100%;
        height: 100%; }

.header {
  display: flex;
  flex-direction: column;
  min-height: 402px; }
  .header::before {
    content: '';
    position: fixed;
    inset: 0;
    background: radial-gradient(ellipse 40% 90% at 40% 70%, white 0%, rgba(255, 255, 255, 0.84) 45%, rgba(232, 251, 146, 0.58) 60%, rgba(232, 251, 146, 0.88) 73%, rgba(255, 255, 255, 0.79) 100%);
    z-index: -1;
    transform-origin: 25% 50%;
    transform: rotate(318deg);
    height: 532px;
    width: 120%; }
    @media only screen and (min-width: 600px) {
      .header::before {
        background: radial-gradient(ellipse 40% 90% at 40% 70%, white 0%, rgba(255, 255, 255, 0.84) 45%, rgba(232, 251, 146, 0.58) 60%, rgba(232, 251, 146, 0.88) 73%, rgba(255, 255, 255, 0.79) 100%);
        transform-origin: 0% 0%;
        transform: rotate(0deg);
        height: unset;
        width: 120%; } }
  @media only screen and (min-width: 992px) {
    .header {
      width: 100%;
      aspect-ratio: 1.7;
      min-height: unset;
      max-height: 95vh; } }
  @media only screen and (min-width: 1400px) {
    .header {
      aspect-ratio: 2.2; } }

main {
  flex: 1;
  max-width: 1560px; }

main#index {
  background-color: var(--background-color-primary);
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding: 80px 20px; }
  @media only screen and (min-width: 992px) {
    main#index {
      padding: 80px;
      gap: 202px; } }
  @media only screen and (min-width: 1400px) {
    main#index {
      padding: 120px 180px; } }
  main#index .project {
    display: flex;
    flex-direction: column;
    gap: 51px;
    padding: 23px; }
    @media only screen and (min-width: 600px) {
      main#index .project {
        align-items: center; } }
    main#index .project h3 {
      font-family: "Inter", sans-serif;
      font-size: 26px;
      line-height: 44px;
      margin: 0;
      text-align: center; }
      @media only screen and (min-width: 600px) {
        main#index .project h3 {
          font-size: 35px;
          line-height: 52px; } }
      @media only screen and (min-width: 992px) {
        main#index .project h3 {
          font-size: 47px;
          line-height: 64px; } }
    main#index .project .project-frame {
      aspect-ratio: 1.39;
      object-fit: contain;
      position: relative;
      width: 100%; }
      main#index .project .project-frame:hover {
        cursor: pointer; }
      @media only screen and (min-width: 600px) {
        main#index .project .project-frame {
          width: 70%; } }
      @media only screen and (min-width: 992px) {
        main#index .project .project-frame {
          width: 65%; } }
      @media only screen and (min-width: 1400px) {
        main#index .project .project-frame {
          width: 50%; } }
      main#index .project .project-frame .project-about {
        font-family: "Mulish", sans-serif;
        font-size: 12px;
        line-height: 16px;
        background: linear-gradient(rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 70%, black 100%);
        box-sizing: border-box;
        position: absolute;
        bottom: 0;
        color: var(--main-text-color);
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        width: 100%;
        height: 0;
        padding: 0;
        overflow: hidden;
        transition: all .2s ease-in-out; }
        @media only screen and (min-width: 600px) {
          main#index .project .project-frame .project-about {
            font-size: 14px;
            line-height: 20px; } }
        @media only screen and (min-width: 992px) {
          main#index .project .project-frame .project-about {
            font-size: 16px;
            line-height: 24px; } }
        main#index .project .project-frame .project-about.active {
          height: 100%;
          padding: 20px; }
        main#index .project .project-frame .project-about .icons {
          display: flex;
          gap: 10px; }
          main#index .project .project-frame .project-about .icons svg:hover {
            color: var(--secondary-color);
            cursor: pointer; }
          @media only screen and (min-width: 600px) {
            main#index .project .project-frame .project-about .icons svg {
              width: 18px;
              height: 18px; } }
          @media only screen and (min-width: 992px) {
            main#index .project .project-frame .project-about .icons svg {
              width: 20px;
              height: 20px; } }
          @media only screen and (min-width: 1400px) {
            main#index .project .project-frame .project-about .icons svg {
              width: 22px;
              height: 22px; } }
      main#index .project .project-frame img {
        height: 100%;
        width: 100%; }

main#about .wrapper {
  padding: 25px 20px; }
  @media only screen and (min-width: 600px) {
    main#about .wrapper {
      padding: 25px 60px; } }
  @media only screen and (min-width: 992px) {
    main#about .wrapper {
      padding: 25px 120px; } }
  @media only screen and (min-width: 1400px) {
    main#about .wrapper {
      padding: 35px 180px; } }
  main#about .wrapper .profile-frame {
    aspect-ratio: 1;
    border-radius: 20px;
    overflow: hidden;
    width: 100%; }
    main#about .wrapper .profile-frame img {
      height: 100%;
      object-fit: cover;
      width: 100%; }
  main#about .wrapper p {
    font-family: "Mulish", sans-serif;
    font-size: 18px;
    line-height: 26px; }
    @media only screen and (min-width: 600px) {
      main#about .wrapper p {
        font-size: 22px;
        line-height: 30px; } }
    @media only screen and (min-width: 992px) {
      main#about .wrapper p {
        font-size: 26px;
        line-height: 34px; } }
  @media only screen and (min-width: 600px) {
    main#about .wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center; }
      main#about .wrapper .profile-frame {
        aspect-ratio: 1;
        flex-shrink: 0;
        width: 25%; }
      main#about .wrapper p {
        font-family: "Mulish", sans-serif;
        font-size: 12px;
        line-height: 16px; } }
    @media only screen and (min-width: 600px) and (min-width: 600px) {
      main#about .wrapper p {
        font-size: 14px;
        line-height: 20px; } }
    @media only screen and (min-width: 600px) and (min-width: 992px) {
      main#about .wrapper p {
        font-size: 16px;
        line-height: 24px; } }

  @media only screen and (min-width: 992px) {
    main#about .wrapper {
      flex-direction: row;
      align-items: center;
      gap: 20px; }
      main#about .wrapper .profile-frame {
        width: 300px; }
      main#about .wrapper p {
        font-size: 24px;
        line-height: 41px; } }

footer {
  padding: 25px 20px;
  background-color: var(--background-color-secondary);
  color: var(--main-text-color);
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media only screen and (min-width: 600px) {
    footer {
      padding: 25px 60px; } }
  @media only screen and (min-width: 992px) {
    footer {
      padding: 25px 120px; } }
  @media only screen and (min-width: 1400px) {
    footer {
      padding: 35px 180px; } }
  footer .headline {
    font-family: "Inter", sans-serif;
    font-size: 26px;
    line-height: 44px;
    font-weight: 700;
    text-transform: uppercase; }
    @media only screen and (min-width: 600px) {
      footer .headline {
        font-size: 35px;
        line-height: 52px; } }
    @media only screen and (min-width: 992px) {
      footer .headline {
        font-size: 47px;
        line-height: 64px; } }
  footer .main {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center; }
    footer .main .links {
      font-family: "Inter", sans-serif;
      font-size: 11px;
      font-weight: 500;
      line-height: 16px;
      font-weight: 700;
      display: flex;
      gap: 5px; }
      @media only screen and (min-width: 600px) {
        footer .main .links {
          font-size: 12px;
          line-height: 16px; } }
      @media only screen and (min-width: 992px) {
        footer .main .links {
          font-size: 14px;
          line-height: 20px; } }
      footer .main .links a {
        text-decoration: none;
        color: var(--main-text-color); }
        footer .main .links a:hover {
          cursor: pointer; }
    footer .main hr {
      width: 100%; }
      @media only screen and (min-width: 992px) {
        footer .main hr {
          width: 50%; } }
    footer .main .copyright {
      font-family: "Mulish", sans-serif;
      font-size: 8px;
      line-height: 10px;
      margin: 0; }
      @media only screen and (min-width: 600px) {
        footer .main .copyright {
          font-size: 10px;
          line-height: 12px; } }
      @media only screen and (min-width: 992px) {
        footer .main .copyright {
          font-size: 12px;
          line-height: 18px; } }

* {
  box-sizing: content-box; }

html, body {
  height: 100vh; }

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0; }

/*# sourceMappingURL=style.css.map */
