@import "design";
@import "navbar";
@import "hero";
@import "header";
@import "main";
@import "footer";

* {
  box-sizing: content-box;
}

html, body {
  height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
